<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<h2> <%= @cocktail.name %> </h2>

<p>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to 'destroy dose', dose_path(dose), method: :delete %>
    <!-- method: :delete dans le loop, car il est associa a une dose -->
  <% end %>
</p>

 <%= link_to 'new dose', new_cocktail_dose_path(@cocktail) %>
<!--  # new_cocktail_dose_path is the helper path
 -->

<!-- # @cocktail = @cocktail.id
 -->
