<h2 class="text-center"> <%= @cocktail.name %> </h2>
<div class="container">
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to 'destroy dose', dose_path(dose), {method: :delete, class: "btn btn-primary btnx-sm"} %>
  </li>
    <!-- method: :delete dans le loop, car il est associa a une dose -->
  <% end %>
</ul>
</div>

 <%= link_to 'new dose', new_cocktail_dose_path(@cocktail), {class: "btn-medium"} %>
<!--  # new_cocktail_dose_path is the helper path
 -->

<!-- # @cocktail = @cocktail.id
 -->
<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
  <!-- <img src="user.jpg" alt="user" class="avatar-large"> -->
<% end %>

